body {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Foisterwijk.nl%2Ffileadmin%2F_processed_%2F3%2F4%2Fcsm_corona-virus-still-1-1000x562_e48b973ad8.jpg&imgrefurl=https%3A%2F%2Foisterwijk.nl%2Fnieuws%2Factueel%2Fartikel%2Fcorona-update-28-september-aangescherpte-maatregelen-319.html&tbnid=v2sIdNr7I1xPuM&vet=12ahUKEwipj4PdhJPsAhUHy6QKHd4FDoUQMygHegUIARCVAQ..i&docid=qFBxDVH6fQj0rM&w=300&h=225&q=corona&ved=2ahUKEwipj4PdhJPsAhUHy6QKHd4FDoUQMygHegUIARCVAQ");
}

h1 {
    color: white;
    text-align: center;
}

p1,p2,p3,p4 {
    color: white;
}